body {
    display: flex;
    flex-direction: column;
    text-align: center;
    justify-content: center;
    overflow-y: auto;
    height: 100vh;
}

.back-button {
    position: absolute;
    bottom: 10px;
    left: 10px;
    height: 30px;
    width: 60px;
}

.note-container {
    display: flex;
    flex-direction: column;
    height: 75vh;
    width: 75vw;
    background-color: lightgray;
    position: relative;
    border: 1px solid black;
}

.add-note-button {
    position: relative;
    bottom: 10px;
    left: 10px;
    transform: translateX(-50%);
}

#AddNote {
    position: absolute;
    bottom: 10px;
    left: 50%;
    transform: translateX(-50%);
}